doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Zoom-Clone
		//- defalut css를 더 예쁘게 바꿔주는 웹사이트 제공 링크 (MVP CSS)
		link(rel="stylesheet", href="https://unpkg.com/mvp.css")
	body 
		header 
			h1 Zoom
		main 
			div#welcome
				form
					input(type="text", placeholder="room name", required)
					button Enter Room
		script(src="/socket.io/socket.io.js")
		script(src="/public/js/app.js")